  <div class="home-wrapper"></div>
  <div class="container">
    <img src="assets/statue1.jpg" alt="Jumbotron" id="jumbotron" style="box-shadow: 0 4px 17px rgba(0, 0, 0, 0.5);">
    <div id="overlay-text">
      <div id="title1">DUGC</div>
      <div id="subtitle">KLE Technological University</div>
    </div>
  </div>

  <br>
  <section class="vh-95">
    <div *ngIf="showLoginForm" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="border: 1px solid black;">
      <form >
        <div class="form-outline mb-4">
          <label class="" for="form3Example3" style="font-family: Muli,sans-serif; font-size: 22px; font-weight:bolder;">Email</label><br>
          <input name="email" type="email" id="form3Example3" class="container1 form-control form-control-lg"
             placeholder="email" required minlength="4" [(ngModel)]="userMail" />
          <div >
          </div>

        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
          <label class="" for="form3Example4" style="font-family: Muli,sans-serif; font-size: 22px;"><span style="font-weight:bolder;">Password</span></label><br>
          <input name="password" type="password" id="form3Example4" class="container1 form-control form-control-lg"
             placeholder="password"  required minlength="4" />
        </div>
      
     
        <u><a href="" [routerLink]="'/forgot-password'" (click)="toggleForm()"><p style="padding-left: 75px; color: black; cursor: pointer;">forgot password?</p></a></u>
        

        <div class="d-flex justify-content-between align-items-center">
          <!-- <a href="#!" class=" link-danger">Forgot password?</a> -->
        </div>

        <div class="text-center text-lg-start mt-4 pt-2" style="text-align: center;">
          <button type="submit" id="card" class="btn" (click)="onCLickLoginHome()" style="padding-left: 2.5rem; padding-right: 2.5rem; margin-top: 10px; border-radius: 10px; margin-left: 5px; padding: 7px 62px;">
            Log in
          </button>
        </div>

      </form>
    </div>
  </section>
  



